<!DOCTYPE html>
<html>
  <head>
    <title>NewProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class='dark:bg-gray-700'>
    <%= render partial: 'layouts/flash_messages' %>
    <% if ['passwords', 'sessions', 'registrations'].include?(controller_name) && !(controller_name.eql?('registrations') && ['edit', 'update'].include?(action_name)) %>
      <%= yield %>
    <% else %>
      <%= render partial: 'layouts/navbar' %>
      <%= render partial: 'layouts/sidebar' %>

      <div class="p-2 sm:ml-64">
        <div class='p-2 mt-14'>
          <%= yield %>
        </div>
      </div>
    <% end %>
  </body>
</html>
